{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">StellarMapWeb Admin</a></h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
{# Theme CSS will be loaded dynamically by theme switcher #}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'webApp/js/admin_theme_switcher.js' %}"></script>
{% endblock %}
