aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
asgiref==3.10.0
async-timeout==5.0.1
attrs==25.3.0
boolean.py==5.0
CacheControl==0.14.3
cassandra-driver==3.29.2
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.3.0
cyclonedx-python-lib==9.1.0
defusedxml==0.7.1
Django==5.0.2
django-cassandra-engine==1.10.0
django-ratelimit==4.1.0
filelock==3.19.1
frozenlist==1.7.0
geomet==0.2.1.post1
gunicorn==23.0.0
idna==3.10
license-expression==30.4.4
markdown-it-py==4.0.0
mdurl==0.1.2
mnemonic==0.21
msgpack==1.1.1
multidict==6.6.4
numpy==2.2.6
packageurl-python==0.17.5
packaging==25.0
pandas==2.3.2
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.9.0
platformdirs==4.4.0
propcache==0.3.2
py-serializable==2.1.0
pycparser==2.23
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.19.2
PyNaCl==1.6.0
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.2
requests==2.32.5
requests-sse==0.5.2
rich==14.1.0
scylla-driver==3.29.0
sentry-sdk==2.38.0
six==1.17.0
sortedcontainers==2.4.0
sqlparse==0.5.3
stellar-sdk==13.0.0
tenacity==9.1.2
toml==0.10.2
typing_extensions==4.15.0
tzdata==2023.4
urllib3==2.5.0
whitenoise==6.11.0
xdrlib3==0.1.1
yarl==1.20.1
