aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
asgiref==3.7.2
async-timeout==5.0.1
attrs==25.3.0
cassandra-driver==3.29.2
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.3.0
Django==5.0.2
django-cassandra-engine==1.10.0
frozenlist==1.7.0
geomet==0.2.1.post1
gunicorn==23.0.0
idna==3.10
mnemonic==0.21
multidict==6.6.4
numpy==2.2.6
packaging==25.0
pandas==2.3.2
propcache==0.3.2
pycparser==2.23
pydantic==2.9.2
pydantic_core==2.23.4
PyNaCl==1.6.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.2
requests==2.32.5
requests-sse==0.5.2
scylla-driver==3.29.0
sentry-sdk==2.38.0
six==1.17.0
sqlparse==0.4.4
stellar-sdk==13.0.0
tenacity==9.1.2
toml==0.10.2
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.5.0
whitenoise==6.11.0
xdrlib3==0.1.1
yarl==1.20.1
